@font-face {
  font-family: 'TypoGraphica';
  src: url('fonts/TypoGraphica/TypoGraphica.eot?#iefix') format('embedded-opentype'),  url('TypoGraphica.woff') format('woff'), url('TypoGraphica.ttf')  format('truetype'), url('TypoGraphica.svg#TypoGraphica') format('svg');
  font-weight: normal;
  font-style: normal;
}
