.about-home {
	background-position : bottom center;
	background-size : contain !important;
}

.primary-title p {
	font-family: 'TypoGraphica';
	font-size : 28px;
	text-transform : uppercase;
	color : #bc4c6d;
}

.primary-title-simple p {
	font-family: 'TypoGraphica';
	font-size : 28px;
	text-transform : uppercase;
	color : #bc4c6d;
}

.secondary-title-simple p {
	font-family: 'TypoGraphica';
	font-size : 17px;
	color : #474a51;
}

.box-service {
	padding-bottom : 55px;
	background : #F6F6F6;
	border-right : 1px solid #e2e2e2;
}

.box-service:last-child {
	border-right : 0px !important;
}

.box-service .secondary-title-simple {
	padding-bottom : 20px !important;
}

 .box-service .et_pb_text{
 	margin : auto !important;
 }

.box-service:before {
	content : "";
	width: 100%;
	height : 152px;
	background : url(img/icon-service.png) right top no-repeat;
	display : block;
	margin-bottom : 10px;
}

.box-service:after {
	content : "";
	width: 100%;
	height : 47px;
	background : url(img/pattern-bottom-service.png) center top no-repeat;
	display: block;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.primary-title:after {
	content : "";
	background : url('img/line-title.png') center top no-repeat;
	width : 100%;
	height : 17px;
	display: block;
	margin-top : 10px;
}

.title-feature {
	font-family: 'TypoGraphica';
	font-size : 28px;
	padding : 30px 20px;
	display: table;
	float : left;
	background : #bc4c6d;
	color : #fff;
}

.item-feature h5 {
	font-family: 'TypoGraphica';
	font-size : 22px;
	color : #bc4c6d;
	padding-bottom : 0px;
}

.item-feature h5:after {
	content : "";
	width : 100%;	
	height : 4px;
	background-color : #81d8dd;
	display: block;
	margin-top : 5px;
	margin-bottom : 5px;
}

.item-feature p {
	font-family : "Lato", sans-serif;
	font-size: 14px;
	color : #7b7b7b;
}

